/* title bar */
.titleBar_a934d8 {

    height: 28px;

    .wordmark_a934d8 {
        svg {
            height: 24px;
        }
    }

    .winButton_a934d8 {
        width: 46px;
        height: 32px;
    }
}

/* fixes */
.platform-win .container_e40c16 {
    top: -48px;
}
