/* Titlebar */
.withFrame__421ed {
    height: 32px;
    margin: 0px;
    .wordmarkWindows__421ed {
        padding: 8px;
    }
    .winButton__421ed {
        height: 100%;
        width: 46px;
        top: 0;
    }
}

/* Fixes */
.platform-win .bg__960e4,
.platform-win .container_a2f514 {
    top: -32px;
}
