/* title bar */
.withFrame__421ed {

    height: 28px;

    .wordmarkWindows__421ed {
        svg {
            height: 24px;
        }
    }

    .winButton__421ed {
        width: 46px;
        height: 32px;
    }

}

.platform-win .bg__960e4 {
    top: -40px;
}
