/* top bar */
.searchBar_f0963d {
    background: var(--background-tertiary);
    box-shadow: 0 4px 6px var(--background-tertiary), 0 1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}

.searchBarComponent_f0963d {
    border-radius: 8px;
    border: 1px solid var(--background-primary);
}

.topicClickTarget_bf3bbb {
    content: "";
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    z-index: 1;
    -webkit-app-region: no-drag;
}



/* profile */
.panels_a4d4d9 .container_b2ca13 {
    background: var(--background-tertiary);
    box-shadow: 0 -4px 6px var(--background-tertiary), 0 -1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}



/* sidebar */
.sidebar_a4d4d9 .sidebarContainer_a3a4ce,
.sidebar_a4d4d9 .container_ee69e0,
.sidebar_a4d4d9 .scroller_c47fa9,
.sidebarRegionScroller_c25c6d,
.contentTransitionWrap_c25c6d,
.animatedContainer_fd6364,
.container_adcaac,
.sidebar_a4d4d9 {
    background: var(--background-tertiary);
}

.header_fd6364 {
    box-shadow: none;
}



/* discover page */
.container_a56260::-webkit-scrollbar {
    display: none;
}



/* fixes */
.form_a7d72e:after {
    height: 0%;
    width: 0%;
}

.form_a7d72e:before {
    width: 100%;
}
