/* title bar */
.titleBar_a934d8 {

    height: 28px;

    .wordmark_a934d8 {
        svg {
            height: 24px;
        }
    }

    .winButton_a934d8 {
        width: 46px;
        height: 32px;
    }
}



/* top bar */
.theme-dark .themed_e44302 {
    background: var(--background-tertiary);
}

.theme-dark .children_e44302:after {
    background: linear-gradient(to right, rgba(54, 57, 63, 0) 0%, var(--background-tertiary) 100%);
}

.theme-light .themed_e44302 {
    background: var(--background-tertiary);
}

.theme-light .children_e44302:after {
    background: linear-gradient(to right, rgba(54, 57, 63, 0) 0%, var(--background-tertiary) 100%);
}

.searchBar_a46bef {
    border-radius: 8px;
    border: 1px solid var(--background-primary);
}

.searchBar_f0963d {
    background: var(--background-tertiary);
    box-shadow: 0 4px 6px var(--background-tertiary), 0 1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}

.searchBarComponent_f0963d {
    border-radius: 8px;
    border: 1px solid var(--background-primary);
}



/* profile */
.panels_a4d4d9 .container_b2ca13 {
    background: var(--background-tertiary);
    box-shadow: 0 -4px 6px var(--background-tertiary), 0 -1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}



/* server channles */
.sidebar_a4d4d9 .container_ee69e0 {
    background: var(--background-tertiary);
}

.sidebar_a4d4d9 {
    background: var(--background-tertiary);
}

.header_fd6364 {
    box-shadow: none;
}

.animatedContainer_fd6364 {
    background: var(--background-tertiary);
}



/* voice menu */
.container_adcaac {
    background: var(--background-tertiary);
}



/* friends bar */
.sidebar_a4d4d9 .scroller_c47fa9 {
    background: var(--background-tertiary);
}



/* settings */
.sidebarRegionScroller_c25c6d {
    background: var(--background-tertiary);
}

.contentTransitionWrap_c25c6d {
    background: var(--background-tertiary);
}



/* fixes */
.form_a7d72e:after {
    height: 0%;
    width: 0%;
}

.form_a7d72e:before {
    width: 100%;
}

.platform-win .container_e40c16 {
    top: -48px;
}

.platform-win .sidebar_a4d4d9 {
    border-radius: 10px;
}
