/* title bar */
.titleBar__710b0 {
    &.withFrame__5e49e {
        height: 28px;
    }

    .wordmarkWindows_ffbc5e {
        svg {
            height: 24px;
        }
    }

    .winButton_f17fb6 {
        width: 46px;
        height: 32px;
    }
}



/* top bar */
.theme-dark .container__26baa {
    background: #1E1F22;

    :after {
        background: linear-gradient(to left, #1E1F22 0%, rgba(54, 57, 63, 0) 100%);
    }
}

.theme-dark .children_cde9af::after {
    background: linear-gradient(to left, #1E1F22 0%, rgba(54, 57, 63, 0) 100%);
}

.theme-dark .searchBar__621ec {
    background: #1E1F22;
    box-shadow: 0 4px 6px rgba(30, 31, 34, 0.8), 0 1px 3px rgba(30, 31, 34, 0.6), 0 0 0 1px rgba(30, 31, 34, 0.4);
}

.theme-dark .searchBarComponent__8f95f {
    border-radius: 8px;
    border: 1px solid #35363C;
}

.theme-dark .DraftEditor-root {
    border-radius: 8px;
    border: 1px solid #35363C;
}



/* profile */
.theme-dark .container_debb33 {
    background: #1E1F22;
    box-shadow: 0 -4px 6px rgba(30, 31, 34, 0.8), 0 -1px 3px rgba(30, 31, 34, 0.6), 0 0 0 1px rgba(30, 31, 34, 0.4);
}



/* server channles */
.theme-dark .container__7e23c {
    background: #1E1F22;
}

.theme-dark .sidebar_e031be {
    background: #1E1F22;
}

.theme-dark .header__77c95 {
    box-shadow: none;
}

.theme-dark .animatedContainer__0e828 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #1E1F22;
}



/* voice menu */
.container_e1958d {
    background: #1E1F22;
}



/* friends bar */
.theme-dark .scroller__89969 {
    background: #1E1F22;
}

.theme-dark .privateChannels__9b518 {
    background: #1E1F22;
}



/* settings */
.theme-dark .sidebarRegionScroller__8113e {
    background: #1E1F22;
}

.theme-dark .contentTransitionWrap__3ba4e {
    background: #1E1F22;
}

.contentRegionShownSidebar__9d1b9 {
    border-top-left-radius: 10px;
}



/* temp fixes */
.form_d8a4a1:after {
    height: 0%;
    width: 0%;
}

.form_d8a4a1:before {
    width: 100%;
}
