/* title bar */
.titleBar_a934d8 {
    padding: 0px;

    height: 0px;

    .wordmarkWindows_a934d8 {
        display: none;
    }

    .winButton_a934d8 {
        border-radius: 15px;
        width: 30px;
        height: 30px;
        margin-top: 9px;
    }

    .winButtonClose_a934d8 {
        margin-right: 12px;
    }
}

.container_fc4f04{
    padding-right: 105px;
    -webkit-app-region: drag;
}

.container_fc4f04::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 30px;
    margin-top: 9px;
    margin-right: 12px;
    -webkit-app-region: none;
}

.chatButton_dd069c {
    padding-right: 114px; 
}

.topPill_a0,
.toolbar_fc4f04 {
    -webkit-app-region: none;
}



/* top bar */
.searchBar_f0963d {
    background: var(--background-tertiary);
    box-shadow: 0 4px 6px var(--background-tertiary), 0 1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}

.searchBarComponent_f0963d {
    border-radius: 8px;
    border: 1px solid var(--background-primary);
}

.topicClickTarget_bf3bbb {
    content: "";
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    z-index: 1;
    -webkit-app-region: none; 
}

.toolbar_fc4f04:after {
    content: "";
    width: 1px;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    background: var(--background-modifier-accent);
}



/* notice banner */
.notice_be03aa  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-right: 114px;
    border-radius: 9px;
    -webkit-app-region: drag;
}

.closeButton_be03aa {
    margin-top: 5px;
}

.button_be03aa {
    margin-bottom: 10px;
}

.lookOutlined_dd4f85.colorWhite_dd4f85{
  -webkit-app-region: none;   
}



/* profile */
.panels_a4d4d9 .container_b2ca13 {
    background: var(--background-tertiary);
    box-shadow: 0 -4px 6px var(--background-tertiary), 0 -1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}



/* sidebar */
.sidebar_a4d4d9 .sidebarContainer_a3a4ce,
.sidebar_a4d4d9 .container_ee69e0,
.sidebar_a4d4d9 .scroller_c47fa9,
.sidebarRegionScroller_c25c6d,
.contentTransitionWrap_c25c6d,
.animatedContainer_fd6364,
.container_adcaac,
.sidebar_a4d4d9 {
    background: var(--background-tertiary);
}

.header_fd6364 {
    box-shadow: none;
}



/* app directory */
.directoryContainer_da3f59{
    margin-top: -4px;
    margin-bottom: 100000000px;
}



/* server boost */
.scroller_a50853::-webkit-scrollbar {
    display: none;
}



/* discovery */
.container_fc867b::before,
.viewWrapper_a39aa3:before,
.scroller_a3a4ce:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 72px;
    width: calc(100% - 216px);
    height: 48px;
    z-index: 1;
    -webkit-app-region: drag; 
}

.scroller_a39aa3:before,
.pageWrapper_a3a4ce:before{
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: var(--background-primary);
    z-index: 3;
}



/* NEW discovery page */

.dragRegion_d746e5,
.headerBar_accde0,
.header_f1c462 {
    height: 48px;
}

.tab_bc4ee1 {
    height: 32px;
}

.headerBar_accde0 {
    width: calc(100% - 100px);
}

.headerBar_accde0:after,
.backdrop_accde0{
    width: calc(100% + 100px);
}

.dragRegion_d746e5 {
    -webkit-app-region: drag;
    width: calc(100% - 100px);
}


.searchIcon_e06425,
.searchBar_e06425,
.top_a0 .item_a0 {
    -webkit-app-region: none;
}

.container_a56260::-webkit-scrollbar {
    display: none;
}



/* shop */
.shopScroll_e77fa3::-webkit-scrollbar {
    display: none;
}



/* fixes */
.form_a7d72e:after {
    height: 0%;
    width: 0%;
}

.form_a7d72e:before {
    width: 100%;
}

.app_a01fb1 {
    margin-top: -4px;
}

.platform-win .scroller_fea3ef {
    padding-top: 12px;
}

.platform-win .sidebar_a4d4d9 {
    border-radius: 0px;
}

.titleContainer_da3f59,
.closeButton_df5532{
    margin-top: 20px;
}

.scroller_cfe282::before,
.gradient_d8215a:before,
.scroller_a50853:before,
.characterBackground_bdd070:before,
.platform-win .container_e40c16:before,
.directoryContainer_da3f59:before,
.sidebarRegionScroller_c25c6d:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    height: 48px;
    z-index: 1;
    -webkit-app-region: drag; 
}

.contentRegionShownSidebar_c25c6d::-webkit-scrollbar-track,
.directoryContainer_da3f59::-webkit-scrollbar-track,
.customScroller_c25c6d::-webkit-scrollbar-track,
.shopScroll_e77fa3::-webkit-scrollbar-track,
.scroller_a3a4ce::-webkit-scrollbar-track,
.scroller_a39aa3::-webkit-scrollbar-track,
.viewWrapper_a39aa3,
.viewWrapper_a3a4ce,
.container_e37a20 {
    margin-top: 48px;
}
