/* title bar */
.titleBar_a934d8 {
    padding: 0px;

    height: 0px;

    .wordmarkWindows_a934d8 {
        display: none;
    }

    .winButton_a934d8 {
        padding: 0px;
        width: 48px;
        height: 48px;
    }
}

.platform-win .container_e40c16 {
    -webkit-app-region: drag;
}

.container_e44302 {
    padding-right: 144px;
    -webkit-app-region: drag;
}

.container_e44302::after { /*add .theme-dark if broken*/
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 144px;
    height: 100%;
    -webkit-app-region: none;
}

.chatButton_dd069c {
    padding-right: 144px;
    -webkit-app-region: none;
}

.toolbar_e44302 {
    -webkit-app-region: none;
}

.contentRegionShownSidebar_c25c6d:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 144px);
    height: 48px;
    z-index: 1;
    -webkit-app-region: drag;
}

.topPill_a0 {
    -webkit-app-region: none;
}



/* top bar */
.searchBar_f0963d {
    background: var(--background-tertiary);
    box-shadow: 0 4px 6px var(--background-tertiary), 0 1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}

.searchBarComponent_f0963d {
    border-radius: 8px;
    border: 1px solid var(--background-primary);
}



/* notice banner */
.notice_be03aa  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-right: 144px;
    border-bottom-right-radius: 8px;
    -webkit-app-region: drag;
}

.closeButton_be03aa {
    margin-top: 5px;
}

.button_be03aa {
    margin-bottom: 10px;
}

.lookOutlined_dd4f85.colorWhite_dd4f85{
  -webkit-app-region: none;   
}



/* profile */
.panels_a4d4d9 .container_b2ca13 {
    background: var(--background-tertiary);
    box-shadow: 0 -4px 6px var(--background-tertiary), 0 -1px 3px var(--background-tertiary), 0 0 0 1px var(--background-tertiary);
}



/* server channles */
.sidebar_a4d4d9 .container_ee69e0 {
    background: var(--background-tertiary);
}

.sidebar_a4d4d9 {
    background: var(--background-tertiary);
}

.header_fd6364 {
    box-shadow: none;
}

.animatedContainer_fd6364 {
    background: var(--background-tertiary);
}



/* voice menu */
.container_adcaac {
    background: var(--background-tertiary);
}



/* friends bar */
.sidebar_a4d4d9 .scroller_c47fa9 {
    background: var(--background-tertiary);
}



/* settings */
.sidebarRegionScroller_c25c6d {
    background: var(--background-tertiary);
}

.contentTransitionWrap_c25c6d {
    background: var(--background-tertiary);
}



/* app directory */
.directoryContainer_da3f59{
    margin-top: -4px;
    margin-bottom: 100000000px;
}



/* discovery */
.scroller_a3a4ce:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 72px;
    width: calc(100% - 216px);
    height: 48px;
    z-index: 1;
    -webkit-app-region: drag; 
}

.pageWrapper_a3a4ce:before{
    content: "";
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: var(--background-primary);
    z-index: 3;
}



/* fixes */
.form_a7d72e:after {
    height: 0%;
    width: 0%;
}

.form_a7d72e:before {
    width: 100%;
}

.app_a01fb1 {
    margin-top: -4px;
}

.platform-win .scroller_fea3ef {
    padding-top: 12px;
}

.platform-win .sidebar_a4d4d9 {
    border-radius: 0px;
}

.titleContainer_da3f59,
.closeButton_df5532{
    margin-top: 20px;
}

.scroller_cfe282::before,
.gradient_d8215a:before,
.directoryContainer_da3f59:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 144px);
    height: 48px;
    z-index: 1;
    -webkit-app-region: drag; 
}

.contentRegionShownSidebar_c25c6d::-webkit-scrollbar-track,
.directoryContainer_da3f59::-webkit-scrollbar-track,
.customScroller_c25c6d::-webkit-scrollbar-track,
.shopScroll_e77fa3::-webkit-scrollbar-track,
.scroller_a3a4ce::-webkit-scrollbar-track,
.viewWrapper_a3a4ce {
    margin-top: 48px;
}
