#window-controls-container {
    right: 8px !important;
}

#window-title {
    -webkit-app-region: drag !important;
}

/* Override Titlebar Size */
.visual-refresh .base_c48ade {
    grid-template-rows: [top] 36px [titleBarEnd] min-content [noticeEnd] 1fr [end] !important;
}

/* Temporary Fix To Prevent Overlapping Buttons */
#window-controls-filler {
    display: none;
}

.trailing_c38106 {
    padding: 100px;
}
