/* Outer Border */
.appMount__51fd7 {
    width: 100%;
    height: 100%;

    border-radius: 12px;
}
/* Inner Border */
.appMount__51fd7:after {
    content: "";
    position: fixed;
    box-sizing: border-box;
    width: calc(100%);
    height: calc(100%);
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    pointer-events: none;
    z-index: 99999; /* Ensure the border appears above the other */
}
/* Inner Border */
.appMount__51fd7:before {
    content: "";
    position: fixed;
    box-sizing: border-box;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 10px;
    border: 1px solid rgba(235, 235, 245, .25);
    background-color: transparent;
    pointer-events: none;
    z-index: 99999; /* Ensure the border appears above the other */
}

/* Fixes */
body,
html {
    background: transparent !important;
    background-color: transparent !important;
}
/* Backdrop */
.backdrop__78332 {
    border-radius: 12px;
}
.container_c48ade, /* Main Window Container */
.systemBar_c38106  /* Backdrop Window Container */ { 
    padding-top: 2px;
}
